// ====================FONTS=====================
$regular: 'Gilroy-regular';
$medium: 'Gilroy-medium';
$bold: 'Gilroy-bold';

// ====================COLOR=====================
$primary: #fe8204;

$basic-black: #242424;
$basic-gray: rgba(36, 36, 36, 0.36);
$basic-white: #ffffff;

$secondary-linear-bg: linear-gradient(180deg, #2c2f34 0%, #3d4148 100%);
$secondary-bg: #1d1d1d;
$secondary-icon: rgba(254, 130, 4, 0.52);
$secondary-dark: #f7f7f7;

// ====================ICONS=====================
$telephone: url('../img/icons/tel.svg') 0 0 no-repeat;
$bigTelephone: url('../img/icons/bigTel.svg') 0 0 no-repeat;
$map: url('../img/icons/map.svg') 0 0 no-repeat;
$bigMap: url('../img/icons/bigMap.svg') 0 0 no-repeat;
